.SearchBox {
    background-color: white;
    border: 1px solid #f3f3f3;
    height: 42px;
    width: 450px;
    border-radius: 10px;
}

.search_icon{
    width: 17px;
    padding: 5px;
    padding-left: 10px;
    vertical-align: middle;
}

.search {
    height: 30px;
    width: 405px;
    border: none;
    margin-top: 6px;
    padding-left: 10px;
}

.search:focus{
    outline: none;
}