.UseModelItem{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px #efefef;
    margin-right: 20px;
    margin-bottom: 20px;
}

.usemodelitem_top{
    display: flex;
}

.usemodelitem_top_left{
    display: flex;
}

.usemodel_imgbox{
    background-color: #9022FF;
    width: 65px;
    height: 65px;
    border-radius: 17px;
}

.usemodel_desc{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 60px;
}

.usemodel_title{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap; 
    width: 190px;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;
    
}

.usemodel_code{
    margin: 0;
    font-size: 13px;
    color: #969BA7;
}

.usemodel_tag{
    width: 85px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    border-radius: 30px;
    margin-top: 10px;
}

.usemodel_date{
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E7EA;
}

.usemodel_total_amount{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.usemodel_total_amount p {
    margin-top: 0px;
}

.usemodel_total_amount .price {
    font-size: 18px;
    font-weight: 600;
}