.end_signup{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.hello_img{
    border: 10px solid #FAFAFA;
    background-color: #F4E9FF;
    width: 110px;
    height: 110px;
    border-radius: 70px;
    margin: auto;
    margin-bottom: 20px;
}

.end_signup_title {
    margin: auto;
    margin-bottom: 20px;
}

.end_signup_desc {
    margin: auto;
    margin-top: 5px;
}