.next_level_button{
    background-color: #9022FF;
    color: #FFFFFF;
    border: none;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
}

.next_level_button:hover{
    background-color: #752cea;
}

.login_button {
    background-color: #9022FF;
    color: #FFFFFF;
    border: none;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

.login_button:hover{
    background-color: #752cea;
}