.or_container{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.or_line{
    flex: 1;
    border: none;
    border-top: 1px solid #E6E7EA;
    margin: 10px;
}

.or_text{
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.social_button{
    height: 40px;
    border: 1px solid #E6E6E6;
    background-color: #ffffff;
    border-radius: 40px;
    width: 100%;
    display: flex;
    padding: 7px;
    margin-top: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.google_img{
    margin-right: 7px;
}