.usemodel_compo_container {
    overflow-y: auto;
    background-color: #FAFAFA;
    padding-left: 18px;
    padding-right: 18px;
}

.usemodel_top {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.usemodel_top_right{
    display: flex;
    align-items: center;
}

.usemodel_main{
    margin-top: 50px;
}

.usemodel_list{
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: left;
}

@media (max-width: 1199px) {
    .usemodel_top_right{
        display: none;
    }
}