.main{
    margin-top: 80px;
    width: 100%;
    background-color: #FAFAFA;
    padding-bottom: 300px;
    overflow: hidden;
}

.main_title{
    margin-left: 18px;
}
.recent_list_container{
    width: 1100px;
    overflow-x: auto;
    margin-left: 20px;
}

.recent_list_container::-webkit-scrollbar{
    display: none;
}

.recent_list{
    width: 1100px;
    margin-left: 0;
}

.model_list{
    justify-content: left;
    width: 1200px;
    margin-left: 15px;
    flex-wrap: wrap;
}

.category_container{
    margin-top: 30px;
    margin-left: 10px;
    width: 1100px;
    height: 40px;
    display: flex;
    background-color: #F3F3F3;
    padding: 3px;
    border-radius: 40px;
}

.category{
    width: 505px;
    border-radius: 40px;
    font-weight: bold;
    border: none;
    margin-right: 2px;
    background-color: #F3F3f3;
    color: #969BA7;
    cursor: pointer;
}

.side_button{
    display: none;
}

@media (max-width:1250px) {
    .category_container{
        width: 93%;
    }

    .recent_list_container{
        width: 93%;
    }

    .model_list{
        width: 93%;
    }
    .side_button{
        display: block;
        position: fixed;
        right: 40px;
        bottom: 70px;
        z-index: 5;
        color: #9022FF;
        background-color: #F4E9FF;
        border:none;
        border-radius: 30px;
        padding: 5px;
        width: 100px;
        box-shadow: 1px 1px 20px 2px #efefef;
    }
}