.image_container{
    box-shadow: 1px 1px 20px 2px #efefef;
    width: 110px;
    height: 110px;
    border-radius: 10px;
}

.model_detail{
    margin-left:20px;
}

.model_title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 0;
}

.model_item{
    width: 330px;
    box-shadow: 1px 1px 20px 2px #efefef;
    padding: 12px;
    border-radius: 15px;
    background-color: white;
}

.model_main{
    display: flex;
}


.model_desc, .model_desc2{
    margin-top: 0;
    margin-bottom: 15px;
    width: 195px;
    font-size: 14px;
    color: #969BA7;
    
}

.model_price_unit{
    font-size: 13px;
    color: #9022FF;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 8px;
}

.model_price {
    font-size: 22px;
    color: black;
    margin-left: 2px;
}

.model_bottom{
    display: flex;
    justify-content: space-between;
}

.model_add{
    width: 45px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    background-color: #9022FF;
    color: white;
    margin-right: 10px;
}