  .paymentMethod {
    margin-left: 10px;
    margin-right: 10px;
  }
  .paymentMethod-content {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
  }

  .payment-option {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .paymentMethod-content p {
    margin-top: 10px;
    font-size: 12px;
    color: #000;
    text-align: center;
  }
  .payment-button {
    width: 15.5rem; 
    height: 72px;
    border: 0.1rem solid #E6E7EA;
    border-radius: 12px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FEE705;
  }

  .paymentMethod-img {
    object-fit: contain;
    background-size: cover;
    width: auto; 
    height: 272px;
  }

  .payment-button.active {
    background-color: #fff; 
    border: 2px solid #8b5cf6; 
  }
  .payment-button:hover {
    border: 2px solid #8b5cf6;
  }
  /* 토스 css */
  .inputAmount {
    margin-top: -20px;
  }

  .kakaoPayContent  h4{
    margin-top: 3rem;
  }
  .submit-button {
    margin-top: 14rem;
    width: 32.5rem;
    background-color: #9022FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 60px;
    font-size: 16px;
    cursor: pointer;
  }

  .kakao-submit-button {
    margin-top: 2rem;
    width: 32.5rem;
    background-color: #9022FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 60px;
    font-size: 16px;
    cursor: pointer;
  }
  .submit-button:hover {
    background-color: #751ACC;
  }
  
