.information-maindiv{
    width: 316px;
    margin: auto;
    border-bottom: 1px solid #E6E7EA;
    padding-bottom: 20px;
  }
  
  .information-h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .write-div {
    position: relative;
  }
  
  .write-input {
    width: 300px;
    height: 32px;
    border-radius: 12px;
    border: 1px solid #E6E7EA;
    margin-bottom: 10px; /* 입력 필드 사이 여백 추가 */
    padding-left: 10px;
    font-size: 12px;
  }
  
  .write-button {
    position: absolute;
    width: 16px;
    top: 8px; /* 버튼 위치 조정 */
    right: 30px;
    background: transparent; /* 배경 투명 */
    border: none;
  }
  
  .add-button{
    width : 316px; 
    height: 32px; 
    font-size: 1.2em;
    color: #9022FF;
    background-color: #F4E9FF;
    border-radius: 60px;
    border: none;
    margin-top: 0px; /* 여백 추가 */
  }
  
  .add-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4E9FF;
  }
  
  .Add-span{
    background-color: #F4E9FF;
    height: 20px;
    margin-left: 5px; /* 텍스트 여백 추가 */
  }