.information-maindiv{
  width: 316px;
  margin: auto;
  border-bottom: 1px solid #E6E7EA;
  padding-bottom: 20px;
}
  
.information-h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
  
.write-div {
  position: relative;
}
  
.write-input {
  width: 300px;
  height: 32px;
  border-radius: 12px;
  border: 1px solid #E6E7EA;
  margin-bottom: 10px; /* 입력 필드 사이 여백 추가 */
  padding-left: 10px;
  font-size: 12px;
}

.write-button {
  position: absolute;
  width: 16px;
  top: 8px; /* 버튼 위치 조정 */
  right: 20px;
  background: transparent; /* 배경 투명 */
  border: none;
  cursor: pointer;
}

.add-button{
  width : 316px; 
  height: 32px; 
  font-size: 1.2em;
  color: #9022FF;
  background-color: #F4E9FF;
  border-radius: 60px;
  border: none;
  margin-top: 0px;
  cursor: pointer;
}

.add-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4E9FF;
}

.add-div span{
  background-color: #F4E9FF;
  height: 20px;
  margin-left: 5px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /*화면기준넓이*/
  height: 100vh; /*화면기준높이*/
  background-color: rgba(67, 70, 77, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  margin-top: 80px;
}
.modal-content {
  background-color: white;
  padding: 15px;
  border-radius: 12px;
  z-index: 1000;
  margin-bottom: 80px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-header h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.modal-header button {
  border-style: none;
  background-color: #fff;
  font-size: 1.1rem;
  color: #6B7283;
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-content-div {
  border-top: 1px solid #E0E0E0;
}
.modal-content p {
  font-size: 0.8rem;
  font-weight: normal;
}
.data-div {
  width: 400px;
  height: 150px;
  background-color: #FAFAFA;
  border-radius: 12px;
  border-style: solid;
  border-color: #E6E7EA;
  border-width: 0.01rem;
  margin-bottom: 15px;
}
.data-div p {
  padding-left: 8px;
  color: #969BA7;
  font-size: 0.8rem;
}
.information-cancel-button{
  width: 195px;
  height: 40px;
  border-radius: 60px;
  border-style: solid;
  border-color: #E6E7EA;
  border-width: 0.01rem;
  background-color: #fff;
  font-size: 0.9rem;
  margin-right: 10px;
  cursor: pointer;
}
.information-yes-button {
  width: 195px;
  height: 40px;
  border-radius: 60px;
  background-color: #9022FF;
  font-size: 0.9rem;
  color: #fff;
  border-style: none;
  cursor: pointer;
}
.information-yes-button:hover {
  background-color: #752cea;
}
